$primary-light-color: whitesmoke;
$primary-dark-color: #333;
$primary-color: rgba($color: aquamarine, $alpha: 0.5);

$text-light-color: whitesmoke;
$text-dark-color: #333;
$text-color: aquamarine;

$secondary-light-color: black;
$secondary-dark-color: white;

$container-bg-color: rgba($color: aquamarine, $alpha: 0.5);
