$primary-light-color: whitesmoke;
$primary-dark-color: #333;
$primary-color: rgba($color: aquamarine, $alpha: 0.5);

$secondary-light-color: black;
$secondary-dark-color: white;

$header-bg-color: rgba($color: aquamarine, $alpha: 0.5);
$footer-bg-color: rgba($color: aquamarine, $alpha: 0.5);
$right-bg-color: rgba($color: aquamarine, $alpha: 0.5);
$middle-bg-color: rgba($color: aquamarine, $alpha: 0.5);
$left-bg-color: rgba($color: aquamarine, $alpha: 0.5);
