$primary-light-color: #EEEEEE;
$primary-dark-color: #333;
$primary-color: rgba($color: #6D9DCA, $alpha: 0.5);

$text-light-color: whitesmoke;
$text-dark-color: #333;
$text-color: #47617E;

$secondary-light-color: black;
$secondary-dark-color: white;

$container-bg-color: rgba($color: #6D9DCA, $alpha: 0.5);


// 64CCC5
// 47617E